import * as React from 'react';
interface {{component}}Props {
    
}
interface {{component}}State {

}

export default class {{component}} extends React.Component<{{component}}Props, {{component}}State> {
    render() {
        return (
            <div>
            </div>
        )
    }
}
